.navigation
    background-color: #89ddaf
    // background-color: white
    height: 120px
    display: flex
    justify-content: center
    // img
    //     margin-left:30px
    //     width: 100px
    //     height: 100px
    // h1
    //     color: white
    //     padding: 10px
    div
        display: flex
        justify-content: space-around
        margin-right:80px
        // &:nth-child(1)
        //     align-items: center
            
        a
            display: block
            
            color: white
            padding:30px
            font-size: 2em
            text-transform: uppercase
            text-decoration: none
            border-bottom: 10px #89ddaf solid
            transition: 0.3s
            &:hover
                color:#069921

        a.active
            border-bottom: 10px #069921 solid
            color:#069921
           

    
