.products


    section
        display: flex
        justify-content: center
        .product
            margin: 2%
            padding: 1%
            border: 1px solid grey
            border-radius: 10px
        img
            display: block
            max-width: 90%
            margin: 0 auto
        p
            padding: 30px
            font-size: 1.2em
            text-align: justify
            color: #888

.products>p
        margin:0 auto
        padding: 40px
        max-width: 70%
        font-size: 1.2em
        text-align: justify
        color: #888

@media (max-width:900px)
    .products
        section
            flex-wrap: wrap